.side-bar
  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.list
          = link_to "#", class: "icon" do
            = icon('fas', 'edit')
            %span<>
        %li.list
          = link_to edit_user_path(current_user), class: "icon" do
            = icon('fas', 'cog')
            %span<>
  .side-bar__grouplist
    .group
      .group-name
        techcamp
      .new-message
        ああああ
    .group
      .group-name
        test
      .new-message
        123  