.side-bar
  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.list
          = link_to new_group_path(current_user), class: "icon" do
            = icon('fas', 'edit')
            %span<>
        %li.list
          = link_to edit_user_path(current_user), class: "icon" do
            = icon('fas', 'cog')
            %span<>
  .side-bar__grouplist
    - current_user.groups.each do |group|
      = link_to '#', class: "group" do
        .group-name
          = group.name
        .new-message
          メッセージはまだありません
